.create-new-job {
  @media only screen and (max-width: 600px) {
    padding: 0 .625rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #222222;
  }

  &__content {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.25rem;

    &-values {
      display: flex;
      margin-bottom: 2rem;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    .form-input {
      &.job {
        &-name {
          width: 70%;

          @media only screen and (max-width: 600px) {
            width: 100%;
          }
        }

        &-priority {
          width: 30%;

          @media only screen and (max-width: 600px) {
            margin-top: 1.875rem;
          }
        }

        &-name,
        &-priority {
          @media only screen and (max-width: 600px) {
            width: 100%;
          }
        }

        &-add-button {
          display: inline-flex;
          justify-content: center;
          margin: auto;
          align-items: center;
          margin-top: 1.25rem;
          height: var(--cnj-form-input-height);
          margin-top: auto;
          background-color: #2277e0;
          color: white;
          border-color: #2277e0;
          cursor: pointer;
        }
      }
    }
  }
}
