header {
    height: auto;
    padding: 1.25rem;
    border-bottom: 1px solid #dddddd;

    .logo {
        width: auto;
        height: auto;

        img {
            width: 3.75rem;
            height: 3.75rem;
        }
    }
}